{%- set navPages = collections.all | eleventyNavigation %}
<header role="banner" class="site-header pad-top-base pad-bottom-base">
  <div class="wrapper">
  <div class="site-header__inner">
    <span class="site-header__branding">
		  <a class="logo" href="/" title="{{ site.name }} Home">{% include "icons/logo.svg" %}</a>
	  </span>  
    <nav class="main-nav">
      <ul class="nav__list">
        {%- for entry in navPages -%}
        {%- if entry.url == page.url %}{% set isCurrent = true %}{% else %}{% set isCurrent = false %}{% endif %}
        <li class="nav__item{% if isCurrent %} nav-item--active{% endif %}"{% if isCurrent %} aria-describedby="current-page"{% endif %}>
          <a href="{{ entry.url | url }}" class="nav__link" {% if isCurrent %}aria-current="page"{% endif %} title="{{ entry.title }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
  </div>
</header>
