.switcher {
    align-items: var(--switcher-vertical-alignment, flex-start);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, var(--space-s-l));
    justify-content: var(--switcher-horizontal-alignment, unset);
}

.switcher > * {
    flex-basis: calc(
        (var(--switcher-target-container-width, 40rem) - 100%) * 999
    );
    flex-grow: 1;
}

.switcher > :nth-child(n + 3) {
    flex-basis: 100%;
}
