---
permalink: /sculptures/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Sculptures - {{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="https://chocolatesculptress.com/sculptures/feed" rel="self"/>
  <link href="https://chocolatesculptress.com"/>
  <updated>{{ collections.sculptures | rssLastUpdatedDate }}</updated>
  <id>https://chocolatesculptress.com</id>
  <author>
    <name>Emily McCracken</name>
    <email>emilywjones@gmail.com</email>
  </author>
  {%- for sculpture in collections.sculptures %}
  {% set idUrl %}{{ sculpture.url | url | absoluteUrl('https://chocolatesculptress.com') }}{% endset %}
  {% set absolutePostUrl %}{{ sculpture.url | url | absoluteUrl('https://chocolatesculptress.com') }}{% endset %}
  <entry>
    <title>{{ sculpture.data.title }}</title>
    {% if sculpture.data.link %}
    <link href="{{ sculpture.data.link }}" rel="alternate" type="text/html"/>
    <link href="{{ absolutePostUrl }}" rel="related" type="text/html"/>
    {% else %}
    <link href="{{ absolutePostUrl }}" rel="alternate" type="text/html"/>
    {% endif %}
    <updated>{{ sculpture.date | rssDate }}</updated>
    <id>{{ idUrl }}</id>
    <content type="html">
      {{ sculpture.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
