/**
   * ENTRY
   */

/* .c-entry {} */

.c-entry__heading {
	font-weight: 400;
}

.c-entry__heading a {
	text-decoration: none;
}

.c-entry__heading a:hover {
	-webkit-text-decoration-style: wavy;
	text-decoration-style: wavy;
}

.c-entry .article-content {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 2rem;
	margin-top: 2rem;
}