/**
   * PAGINATION
   */

   .c-pagination {
	display: -webkit-box;
	display: flex;
	margin-top: 3rem;
}

.c-pagination__item[rel="prev"] {
  margin-left: unset;
	margin-right: auto;
}

.c-pagination__item[rel="next"] {
  margin-right: unset;
	margin-left: auto;
}

.c-pagination__item svg {
	font-size: 0.9em;
}

.c-pagination__item[rel="prev"] svg {
	margin-right: 0.25rem;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.c-pagination__item[rel="next"] svg {
	margin-left: 0.25rem;
}