.c-tags {
	margin-top: 1rem;
	margin-bottom: -0.5rem;
	list-style: none;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap;
}

.c-tags__item {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}
 
.c-pill {
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	background-color: var(--color-yellow);
	color: var(--color-maroon);
	text-decoration: none;
	font-size: smaller;
	-webkit-transition: var(--transition);
	transition: var(--transition);
}

a.c-pill:hover {
	background-color: var(--color-subtext);
	color: var(--color-beige);
}