.c-share {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.c-share::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-gray-300);
}

.c-share span {
	position: relative;
	padding-right: 1rem;
	background-color: var(--color-main);
	color: var(--color-gray-500);
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 10;
}

.c-share__list {
	position: relative;
	list-style: none;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding-left: 1rem;
	background-color: var(--color-main);
	z-index: 10;
}

.c-share__list-item:not(:last-of-type) {
	margin-right: 1rem;
}

.c-share__list-anchor {
	color: currentColor;
}

.c-share__list-anchor:hover {
	color: var(--color-primary);
}