/**
   * SKIP
   */

.c-skip {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.25rem;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	background-color: var(--color-primary);
	color: #fff;
	text-decoration: none;
}

.c-skip:focus {
	-webkit-transform: none;
	transform: none;
}