{% set coreStyles = [
  'tokens.css',
  'base.css',
  'global/site-header.css',
  'global/site-footer.css',
  'global/navigation.css',
  'components/button.css',
  'components/skip.css',
  'utilities/eyebrow.css',
  'utilities/flow.css',
  'utilities/switcher.css',
  'utilities/wrapper.css',
	'utilities/full-bleed.css',
  'utilities/visually-hidden.css'
]%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#451F11" />
  <meta name="robots" content="index,follow" />
  <title>{% if title and page.url != '/' %}{{ title }}{% else %}Emily McCracken{% endif %} - {{ site.title }}</title>
  <meta name="description" content="{% if description %}{{ description | markdownify_inline | strip_html }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if title and page.url != '/' %}{{ title }}{% else %}Emily McCracken{% endif %} - {{ site.title }}">
  <meta property="og:description" content="{% if description %}{{ description | markdownify_inline | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | permalink }}">
  <meta property="og:image" content="{{ site.url }}{%if share %}/assets{{ share }}{% else %}/assets/img/og-image.jpg{% endif %}">
  <meta name="twitter:card" content="summary">
  <link rel="icon apple-touch-icon" href="{{ site.url }}/assets/img/apple-touch-icon.png" sizes="180x180" type="image/png" />
  <link rel="icon" href="{{ site.url }}/assets/img/favicon-96x96.png" sizes="96x96" type="image/png" />
  <link rel="icon" href="{{ site.url }}/assets/img/favicon-32x32.png" sizes="32x32" type="image/png" />
  <link rel="icon" href="{{ site.url }}/assets/img/favicon-16x16.png" sizes="16x16" type="image/png" />
  <link rel="manifest" href="{{ site.url }}/manifest.json" />
  <link rel="alternate" type="application/rss+xml" title="Feed for journal" href="{{ site.url }}/journal/feed.xml" />
  <link rel="alternate" type="application/rss+xml" title="Feed for sculptures" href="{{ site.url }}/sculptures/feed.xml" />
  <link rel="preload" href="/assets/fonts/bitter.woff2" as="font" type="font/woff2" crossorigin>
  <style>{{ helpers.getCSS(coreStyles, layoutStyles) | safe }}</style>
  <!-- Keep Using Google Analytics (for now) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35800082-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-35800082-1');
  </script>
</head>
<body>
  <a href="#main" class="c-skip">Skip to main content</a>
  {% include "components/site-header.njk" %}
  <main id="main">
    <div class="main__inner u-flow pad-top-600">
    {% block content %}{% endblock %}
    </div>
  </main>
  {% include "components/site-footer.njk" %}
  <div id="wayfinding" class="visually-hidden">
	  <span id="current-page">Current page</span>
	</div>
</body>
</html>
