{% set layoutStyles = [
  'components/button.css',
  'components/card.css',
  'components/hero.css',
  'components/listing.css',
  'layouts/home.css'
]%}
{% extends 'layouts/base.njk' %}

{% block content %}
<header class="hero u-flow">
    <h1 class="u-font-size-xl">{{ title | widont }}</h1>
    {{ description | markdownify | safe }}
</header>

<div class="u-flow">{{ content | safe }}</div>
{% endblock %}