{% set layoutStyles = [
  'components/fyi.css',
  'components/note.css',
  'components/pill.css',
  'components/share.css',
  'utilities/eyebrow.css',
  'utilities/full-bleed.css'
]%}
{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="sculpture">
    <header class="u-linear u-text-center u-margin-bottom-2">
      <span class="u-eyebrow">Chocolate Sculpture</span>
      <h1 class="u-margin-top-0 u-font-size-xl">{{ title }}</h1>
      {% if link %}
        <div class="u-margin-top-025">{% Link link, null, true %}</div>
      {% endif %}
      <p class="u-font-size-md">{{ summary | safe }}</p>
      {% if banner %}
        {% Figure {
          breakout: true,
          src: '/assets/sculptures/' + banner,
          alt: title + ' graphics'
        } %}
      {% endif %}
      {% include "components/tags.njk" %}
    </header>
    <div class="u-linear">
      {{ content | safe }}

      {% if tags and tags | includes('arthop') %}
        {% Note {
          label: "About the Art Hop",
          text: "Lake Champlain Chocolates factory store is located on Pine Street in Burlington, VT -- part of Burlington's south end. Each year in September, a three day event is organized to celebrate the south end's amazing artist community. Businesses all up and down the Pine Street corridor become make-shift art galleries and there are over 500 participating artists showcasing paintings, sculptures, photography and yes ... even chocolate art. Visit [SEABA.com for more information](http://seaba.com/art-hop/) about the Art Hop."
        } %}
      {% endif %}
    </div>
    <footer class="u-margin-top-3">
      {% include "components/share.njk" %}
    </footer>
  </article>
{% endblock %}
