---
title: Contact Emily
description: Have a question or press request? I'd love to hear from you! Use the form below to send me a note or reach out on my [Facebook page](https://www.facebook.com/chocolatesculptress/).
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 5
---
{% set layoutStyles = [
  '/components/form.css'
]%}
{% extends 'layouts/page.njk' %}

{% block content %}
  <header class="u-flow hero">
    <h1 class="u-font-size-xl">{{ title | widont }}</h1>
    {{ description | markdownify | safe }}
  </header>

{% fyi %}
Hello lovely people, I have some big news! **I've recently switched careers and am no longer working with chocolate.**

Leaving chocolate was a terribly difficult decision, but it was time for a change. So what's next for me? I went back to school and earned my teacher's license for K-12 art education. I can't overstate the impact my art teachers had on me and it felt like the right time to give back.

Does that mean I'm finished with chocolate? I hope not! But at least for now I'm no longer creating sculptures or taking custom requests.
{% endfyi %}

  <section class="form-contact">
  {% include "components/form-contact.njk" %}
  </section>
{% endblock %}
