---
title: Contact Emily
summary: Have a question? I'd love to hear from you! Use the form below to send me a note or reach out on my [Facebook page](https://www.facebook.com/chocolatesculptress/).
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 5
---
{% extends 'layouts/page.njk' %}

{% block content %}
  {% include "components/form-contact.njk" %}
{% endblock %}