---
title: "Hi there, I'm Emily. A chocolate artist and instructor from Vermont."
lede: "Some say I'm obsessed with chocolate. I take that as a compliment."
navtitle: Home
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ lede }}

    <section class="u-linear">
        <h2>Recent Sculptures</h2>
        <ul class="c-listing">
        {% for sculpture in collections.sculptures | take(4) %}
        <li class="c-listing__item">
            <a href="{{ sculpture.url }}">{{ sculpture.data.title }}</a>
        </li>
        {% endfor %}
        </ul>
        <div>{% Link '/sculptures', 'View more' %}</div>
     </section>
     
     <section class="u-linear">
        <h2>Recent Posts</h2>
        <ul class="c-listing">
        {% for post in collections.posts | take(4) %}
        <li class="c-listing__item">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
        {% endfor %}
        </ul>
        <div>{% Link '/journal', 'View more' %}</div>
  </section>
{% endblock %}