---
title: "Hi there, I'm Emily. A chocolate artist and instructor from Vermont."
lede: "You can call me chocolate-obsessed and I’d be totally ok with that."
navtitle: Home
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ lede }}
{% endblock %}