---
title: "Hi there, I'm Emily. A chocolate sculptress from Vermont."
description: "Some say I'm obsessed with chocolate. I take it as a compliment. Chocolate is a wonderful, finicky, and delicious medium to sculpt with and there's nothing better than the look on someone's face when they realize [my creations](/sculptures/) are completely edible."
navtitle: Home
permalink: index.html
layout: 'layouts/home.njk'
---

{% block content %}
<section class="intro u-flow">
    <h2>Finding My Way to Chocolate</h2>
    <div class="c-avatar" style="--aspect-ratio: 1/1;">
      <img src="/assets/img/photo-500.jpg" alt="A collage of Emily on a TV set and sculpting chocolate">
    </div>
    <p>The path to becoming a chocolate artist has been <a href="/about/" title="Becoming a Chocolate Sculptress">long and winding</a>, but well worth the journey. I started as a part-time retail employee at <a href="http://www.lakechamplainchocolates.com">Lake Champlain Chocolates</a> nearly two decades ago. Since then I've studied with great chocolatiers, made sculptures for celebrities, and taught a series of chocolate-themed classes.</p>
    <p>Above all else, I hope the sculptures, frames, and other treats I make spark a little joy in your day.</p>
    {% quote {
        text: "There is nothing better than a friend, unless it is a friend with chocolate.",
        cite: "Linda Grayson"
    } %}
</section>

<section class="u-flow">
    <h2>Featured Sculptures</h2>
    <div class="o-grid">
    {%- for sculpture in collections.sculptures | favorites(3) %}
        {% include "components/sculpture-card.njk" %}
    {%- endfor %}
    </div>
    <div class="u-center u-margin-top-3">{% link '/sculptures', 'All sculptures' %}</div>
</section>

<section class="u-flow">
    <h2>In the Press</h2>
    <a href="/press/" title="Emily McCracken in the news">
        <img src="/assets/img/press-seen-on.jpg" alt="Logos of some of the media companies where Emily has appeared" />
    </a>
    <div class="u-center u-margin-top-3">{% link '/press', 'All press' %}</div>
</section>

<section class="u-flow">
    <h2>Recent Posts</h2>
    {% set entries = collections.posts | take(3) %}
    {% include "components/listing.njk" %}
    <div class="u-center u-margin-top-3">{% link '/journal', 'Read my chocolate journal' %}</div>
</section>
{% endblock %}
