---
title: "Emily McCracken's Chocolate Journal"
lede: "You can call me chocolate-obsessed and I’d be totally ok with that."
navtitle: Journal
permalink: /journal/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}
pagination:
  data: collections.posts
  size: 10
eleventyNavigation:
  key: Journal
  order: 2
---
{% set layoutStyles = [
  '/components/entry.css',
  '/components/listing.css',
  '/components/pagination.css',
  '/utilities/eyebrow.css'
]%}
{% extends "layouts/base.njk" %}

{% block content %}
<header class="u-linear hero">
  <h1>{{ title }}</h1>
  {{ lede | markdownify | safe }}
</header>

<section class="u-linear">
    {% set entries = pagination.items %}
    {% include "components/listing.njk" %}
    {% include "components/pagination.njk" %}
</section>
{% endblock %}