---
title: "Chocolate Sculptress Press"
description: "It's always a blast being interviewed or asked to be on TV! Here's a selection of my media appearances, please feel free to [contact me](/contact/) with any future press inquiries."
permalink: press/
pagination:
  data: collections.press
  size: 100
eleventyNavigation:
  parent: About
---
{% set layoutStyles = [
  '/components/entry.css',
  '/components/listing.css',
  '/components/press.css',
  '/utilities/eyebrow.css'
]%}
{% extends "layouts/base.njk" %}

{% block content %}
<header class="u-linear c-header">
  <h1>{{ title }}</h1>
  {{ description | markdownify | safe }}
</header>

<section class="u-linear">
  <ul class="c-listing c-listing--lg">
  {% for entry in pagination.items %}
  <li class="c-listing__item">
    {% set pressEntry="true" %}
    {% include "components/entry.njk" %}
  </li>
  {% endfor %}
</ul>
</section>
{% endblock %}