---
title: "Chocolate Sculptures"
lede: "These sculptures are made entirely out of chocolate and decorated with different techniques using colored cocoa butter. They're 100% edible!"
navtitle: Sculptures
permalink: /sculptures/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}
pagination:
  data: collections.sculptures
  size: 15
eleventyNavigation:
  key: Sculptures
  order: 1
---
{% set layoutStyles = [
  '/components/card.css',
  '/components/pagination.css'
]%}
{% extends "layouts/base.njk" %}

{% block content %}
<header class="u-linear c-header">
    <h1 class="u-font-size-xl">{{ title }}</h1>
    {{ lede | markdownify | safe }}
</header>

<section class="sculptures">
    <div class="o-grid">
    {%- for sculpture in pagination.items %}
      {% include "components/sculpture-card.njk" %}
    {%- endfor %}
    </div>
    {% include "components/pagination.njk" %}
</section>
{% endblock %}