---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - press
    - campaign
    - print
    - tv
permalink: /tagged/{{ tag }}/index.html
---
{% set layoutStyles = [
  '/components/card.css',
  '/components/entry.css',
  '/components/listing.css',
  '/components/pagination.css',
  '/utilities/eyebrow.css'
]%}
{% extends "layouts/base.njk" %}

{% block content %}
{% set sculptures = collections.taggedSculptures[tag] %}
<section class="o-content u-margin-bottom-3 u-linear">
    <h1>Sculptures Tagged “{{ tag }}”</h1>
    <div class="o-grid" style="--min-column: 250px;">
    {%- for sculpture in sculptures %}
      {% include "components/sculpture-card.njk" %}
    {%- endfor %}
    </div>
</section>

{% set posts = collections.taggedPosts[tag] %}
{% if posts.length %}
<section class="o-content">
    <h1>Posts Tagged “{{ tag }}”</h1>
    <ul class="c-listing u-margin-top-2">
    {% set entries = posts %}
    {% include "components/listing.njk" %}
    </ul>
</section>
{% endif %}
{% endblock %}
