---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Accessibility on Chocolate Sculptress">
  <div class="wrapper flow">
    <h1>Accessibility</h1>
    <p>
      Everyone deserves equal access to information, tools, and services,
      regardless of ability. We’re committed to making our website usable and
      accessible for all. Accessibility is a continuous process, not a one-time
      fix and we strive for continuous improvement and to meet the <strong
        >Web Content Accessibility Guidelines (WCAG) 2.2 Level AA</strong
      >.
    </p>
    <p>
      With that said, we know there's a lot of images on this site and we do our
      best to describe them in an informative, but not over-bearing way. If you
      have trouble with any of the images, or anything else on the site, please
      let us know!
    </p>
    <h2>Report an Accessibility Issue</h2>
    <!-- Begin Accessible Web Feedback Form Snippet -->
    <script
      async
      defer
      id="aweb-feedback"
      type="text/javascript"
      src="https://ramp.accessibleweb.com/feedback/Zfcq9e-VrqMfERNVpnuEi5vBqSfWKuEK3YhFy29T6kA/script.js"
    ></script>
    <!-- End Accessible Web Feedback Form Snippet -->
  </div>
</Layout>
