---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Chocolate Sculptress</title>
  </head>
  <body>
    <h1>Chocolate Sculptress</h1>
    <p>A collection of deliciously edible art by <a href="https://emilymccracken.com">Emily McCracken</a>.</p>
  </body>
</html>
