---
import { getCollection } from "astro:content";
import SiteIntro from "../components/SiteIntro.astro";
import SculptureCards from "../components/SculptureCards.astro";
import Layout from "../layouts/Home.astro";
import TopicsList from "../components/TopicsList.astro";

let allSculptures = await getCollection("sculptures");
allSculptures = allSculptures.slice(0, 10);
---

<Layout title="Chocolate Sculptress">
  <div class="wrapper flow">
    <SculptureCards limit={10} random={true} sculptures={allSculptures}>
      <SiteIntro slot="intro" />
      <h2 slot="heading" class="visually-hidden" }>Sculptures</h2>
    </SculptureCards>
    <TopicsList />
  </div>
</Layout>
