---
import Sparkle from "../components/Sparkle.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const sculptures = await getCollection("sculptures");
console.log(sculptures);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Chocolate Sculptress">
    <main class="content-grid">
        <div class="card-grid">
            <article class="card">
                <h1>Chocolate Sculptress</h1>
                <p>Welcome to my website!</p>
            </article>
            {
                sculptures.map((sculpture) => (
                    <li>
                        <a href={`/${sculpture.id}`}>{sculpture.data.title}</a>
                    </li>
                ))
            }
        </div>
    </main>
</Layout>
