---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import SculptureCards from "../components/SculptureCards.astro";
import TopicsList from "../components/TopicsList.astro";

const allSculptures = await getCollection("sculptures");
---

<Layout title="Chocolate Sculptures and Art">
  <div class="wrapper flow">
    <h1>Chocolate Sculptures</h1>
    <SculptureCards sculptures={allSculptures} headingLevel={2} />
    <TopicsList />
  </div>
</Layout>
