<footer role="contentinfo" class="bg-dark color-light region">
  <div class="wrapper">
    <div class="repel">
      <p class="text-step--2">
        All of this ✨amazing✨ work was made by <a href="https://emilymccracken.com">Emily McCracken</a> between 2007 and
        2023. Photos by <a href="https://scottmccracken.net">Scott McCracken</a> who also built this site while on a major
        sugar rush. 🍫
      </p>
      <nav aria-label="Footer Navigation">
        <ul role="list" class="cluster text-base">
          <li>
            <a href="https://instagram.com/berrycutemakes">Instagram</a>
          </li>
          <li><a href="/accessibility">Accessibility</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
