---
import { Image } from "astro:assets";
---

<article class="card card__intro">
  <div class="card__content flow">
    <h1 class="text-step-4">Chocolate Sculptress</h1>
    <p>Hi there, I'm Emily! An artist from Vermont that used to sculpt some really fun pieces out of chocolate.</p>
    <p>
      Now I'm an <a href="https://emilymccracken.com">art educator</a> and I also run a small business called
      <a href="https://instagram.com/berrycutemakes/">Berry Cute Makes</a>. Art all the things!
    </p>
    <p>Thanks so much for visiting!</p>
    <p>&#8212; Emily</p>
  </div>
</article>
