/**
   * HEADER
   */

   .c-header {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 3rem;
}

header[role="banner"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column;
}

@media (min-width: 500px) {
	header[role="banner"] {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-flow: row;
	}
}

.c-header__branding {
	font-size: 2rem;
	text-decoration: none;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.c-header__branding:hover {
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

.c-header h1 {
	position: relative;
}

.c-header h1::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -23px;
	height: 3px;
	background: var(--color-subtext);
	width: 50px;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.c-header h1 + p {
	max-width: 70ch;
	margin-top: 3rem;
	font-size: 115%;
	line-height: 1.65;
}

a[href="#footer-menu"] {
	display: block;
}