.nav__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.nav__list > * {
	padding: 0.5rem 0 0 1.5rem;
}

.nav__list a {
	font-size: 110%;
}

@media (min-width: 768px) {
	a[href="#footer-menu"] {
		display: none;
	}
}
