.site-header {
	margin-bottom: var(--size-400);
	padding: 1.25rem 0 1rem 0;
	background-color: var(--color-maroon);
}

.site-header a {
	color: var(--color-main);
}

.site-header a:hover,
.site-header a:focus {
	color: var(--color-white);
	text-decoration-color: var(--color-red);
}

.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.site-header__branding {
	display: block;
	width: 5rem;
	height: 5rem;
	flex-shrink: 0;
	margin-right: var(--size-400);
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.site-header__nav {
	margin: 0.25rem 0 0 0;
}

a[href="#footer-menu"] {
	display: block;
}

@media (min-width: 48em) {
	.site-header {
		padding: 0;
	}
	.site-header__branding {
		transform: scale(1.15) translateY(1.25rem);
	}
}