.site-header {
	margin-bottom: 3rem;
}

.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.site-header__branding {
	display: block;
	margin-right: 3rem;
	font-size: 2rem;
	flex-shrink: 0;
	text-decoration: none;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.site-header__branding:hover {
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

.site-header__nav {
	margin: 1rem 0 0 0;
}

a[href="#footer-menu"] {
	display: block;
}