.site-footer {
	margin-top: auto;
	padding: 4rem 1rem;
	text-align: center;
	background-color: var(--color-maroon);
	color: var(--color-beige);
	border-top: 1px solid var(--color-gray-300);
}

.site-footer p:not([class]) {
	color: var(--color-beige);
}

.site-footer a {
	color: var(--color-main);
}

.site-footer a:hover,
.site-footer a:focus {
	color: var(--color-white);
	text-decoration-color: var(--color-red);
}

.site-footer p {
	font-size: 90%;
}

.site-footer__list {
	list-style: none;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap;
}

.site-footer__list + .site-footer__list {
	margin-top: 1rem;
}

.site-footer__list-item {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.site-footer__list-anchor {
	text-decoration: none;
	color: currentColor;
}

.site-footer__list-anchor:hover {
	color: var(--color-primary);
}