.page-info {
  --gutter: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
}

.page-info > *:not(.full) {
  padding-inline: 1rem;
}
