.tag-list[data-container-type="centered"] {
  max-width: 80ch;
  margin: 0 auto;
}

.tag-list a {
  border: var(--stroke-weight-light) solid var(--color-dark);
  font-weight: bold;
  padding: var(--space-2xs) var(--space-s);
  text-decoration: none;
}

.tag-list a[aria-current="page"] {
  background-color: var(--color-primary-shade);
  box-shadow: 3px 3px 0px var(--color-dark);
}

.tag-list .cluster {
  --cluster-horizontal-alignment: center;
  --space: 1.2rem 1rem;

  margin-top: 0;
}
