.topics-list {
  --gutter-wrapper-inner-block: var(--topics-list-gutter-wrapper-inner-block, var(--space-s));
  --reel-item-width: var(--topics-list-reel-item-width, max-content);
  --reel-space: var(--topics-list-reel-space, 0);
  --scroll-bar-offset: var(--topics-list-scroll-bar-offset, var(--space-xs));
  --scroll-bar-size: var(--topics-list-scroll-bar-size, 8px);
  --scroll-bar-track-color: var(--topics-list-scroll-bar-track-color, var(--color-light-shade));
  --scroll-bar-thumb-color: var(--topics-list-scroll-bar-thumb-color, var(--color-secondary-glare));
}

@supports (-webkit-touch-callout: none) {
  .topics-list {
    --scroll-bar-offset: 0;
  }
}

.topics-list .wrapper[data-wrapper-type="inner"] {
  background-color: var(--topics-list-bg, var(--color-dark));
  color: var(--topics-list-text, var(--color-light));
}

.topics-list__container {
  --cluster-wrap: var(--topics-list-container-cluster-wrap, nowrap);
  --cluster-vertical-alignment: var(--topics-list-container-cluster-vertical-alignment, baseline);
  --cluster-column-gap: var(--topics-list-container-cluster-column-gap, var(--space-s-m));
  --cluster-row-gap: var(--topics-list-container-cluster-row-gap, var(--space-s-m));
  position: relative;
}

.topics-list .wrapper[data-wrapper-type="inner"]:after {
  content: "";
  height: 8ex;
  pointer-events: none;
  position: absolute;
  right: calc(var(--cluster-column-gap) * 0.75);
  top: 0;
  width: var(--space-l);
}

.topics-list .reel .cluster {
  --cluster-wrap: var(--topics-list-reel-cluster-wrap, nowrap);
  --cluster-column-gap: var(--topics-list-reel-cluster-column-gap, var(--space-m));
  --cluster-row-gap: var(--topics-list-reel-cluster-row-gap, var(--space-m));
  --cluster-horizontal-alignment: var(--topics-list-reel-cluster-horizontal-alignment, flex-start);
  --cluster-vertical-alignment: var(--topics-list-reel-cluster-vertical-alignment, center);
  --cluster-direction: var(--topics-list-reel-cluster-direction, row);
}

.topics-list__heading {
  flex-shrink: 0;
  font-size: var(--topics-list-heading-font-size, var(--size-step-1));
  position: relative;
}

.topics-list__heading:before {
  content: "";
  height: 5ex;
  pointer-events: none;
  position: absolute;
  right: calc(var(--cluster-column-gap) * -1.5);
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: var(--space-s);
  z-index: 1;
}

.topics-list li {
  margin-block: var(--topics-list-items, var(--space-2xs));
}

.topics-list .button[data-button-variant="ghost-light"] {
  --button-bg: var(--topics-list-ghost-light-bg, transparent);
  --button-text: var(--topics-list-button-ghost-light-text, var(--color-light));
  --button-border-color: var(--topics-list-button-ghost-light-border-color, var(--color-light));
}

.topics-list .button[data-button-variant="ghost-light"]:hover {
  --button-bg: var(--topics-list-button-ghost-light-bg-hover, var(--color-light));
  --button-text: var(--topics-list-button-ghost-light-text-hover, var(--color-dark));
  --button-border-color: var(--topics-list-button-ghost-light-border-color-hover, var(--color-light));
}
