.u-display-flex {
	display: -webkit-box;
	display: flex;
}

.u-align-center {
	-webkit-box-align: center;
	align-items: center;
}

.u-justify-between {
	-webkit-box-pack: justify;
	justify-content: space-between;
}