.u-flow + .u-flow {
	margin-top: 3rem;
}

.u-flow > * + * {
	margin-top: 1.125rem;
}

.u-flow > * + h2,
.u-flow > * + h3,
.u-flow > * + .c-quote {
	margin-top: 2rem;
}

.u-flow > * + .c-pagination {
  margin-top: 3rem;
}

.u-flow > * + blockquote {
	margin-top: 2rem;
}