:root {
  --color-dark: oklch(0.4211 0.0974 50.94);
  --color-light: oklch(0.9679 0.0226 78.22);
  --color-light-glare: oklch(0.9838 0.0118 79.79);
  --color-light-shade: oklch(0.9391 0.0334 73.2);
  --color-primary: oklch(0.6935 0.2023 42.03);
  --color-secondary: oklch(0.7962 0.1652 71.71);
  --color-secondary-glare: oklch(0.7962 0.1652 71.71);
  --color-white: oklch(0.994 0 0);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-white {
  background-color: var(--color-white);
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}
