:root {
	--font-family-base: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	--font-family-slab: "Bitter", Georgia, sans-serif;
	--color-beige: #fff9eb;
	--color-beige-dark: #f5eddc;
	--color-red: #685c59;
	--color-red-dark: #c24924;
	--color-maroon: #580c0d;
	--color-maroon-muted: #6e4d4e;
	--color-yellow: #f6cc7b;
	--color-blue: #0055ff;
	--color-purple: #58337d;
	--color-blue-light: #e6eeff;
	--color-gray-900: #111111;
	--color-gray-500: #767676;
	--color-gray-400: #dddddd;
	--color-gray-300: #efefef;
	--color-gray-100: #fafafa;
	--color-white: #ffffff;

	--color-main: var(--color-beige);
	--color-main-mid: var(--color-beige-dark);
	--color-secondary: #c24924;
	--color-tertiary: var(--color-yellow);
	--color-subtext: var(--color-red);
	--color-text: #580c0d;
	--color-highlight: #fffeca;
	--color-primary: var(--color-purple);

	--border-color: #eee;
	--border-radius: 0.25rem;
  	--border-radius-lg: 0.5rem;
  	--line-height-xloose: 1.7;
	--line-height-loose: 1.5;
	--line-height-tighten: 1.4;
	--line-height-strict: 1.3;
	--outline: 3px solid var(--color-yellow);
	--transition: all ease-in-out 0.2s;

	--size-300: 0.8rem;
    --size-400: 1rem;
    --size-500: 1.35rem;
    --size-600: 1.8rem;
    --size-700: 3.2rem;
    --size-800: 4.2rem;
}

/**
   * TEXT-ALIGNMENT
   */
.u-center,
.u-text-center {
	text-align: center;
}

/**
   * FONT-SIZING
   */

.u-font-size-xxl {
	font-size: 3rem;
	line-height: var(--line-height-strict);
}

.u-font-size-xl {
	font-size: 2.25rem;
	line-height: var(--line-height-strict);
}

.u-font-size-lg {
	font-size: 2rem;
	line-height: var(--line-height-strict);
}

.u-font-size-md {
	font-size: 1.5rem;
	line-height: var(--line-height-tighten);
}

.u-font-size-sm {
	font-size: smaller;
}

.pad-top-400 {
    padding-top: 1rem
}

.pad-top-500 {
    padding-top: 1.35rem
}

.pad-top-600 {
    padding-top: 1.8rem
}

.pad-top-700 {
    padding-top: 3.2rem
}

.pad-top-800 {
    padding-top: 4.2rem
}

.u-color-gray {
	color: var(--color-gray-500);
}

.u-color-primary {
	color: var(--color-primary);
}